* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(177, 189, 201);
}

.barra{
    background-color: #f2000b;
    padding: 5px 50px;
    display: flex;
    justify-content:space-between;
}

.container-logos{
    width: 293.03px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 60px;
    height: 60px;
}

.container-ligths{
    width: 293.03px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.point-blue{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid white;
}
.name-pokedex{
    margin-left: 15px;
    width: 150px;
    height: 50px;
}

.ligth{
    width: 13px;
    height: 13px;
    margin: 2.5px;
}

.container-tools{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container-cards{
    margin: 30px 50px 30px 40px;
    display: grid;
    row-gap: 30px;
    column-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: orangered;
    height: 220px;
    width: 220px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container-img{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.img-poke{
    width: 120px;
    height: 120px;
}

.container-type{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-card{
    background-color: orangered;
    height: auto;
    width: 220px;
}

.footer-card-row-1, .footer-card-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

p, h4{
    text-align: center;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


