* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(194, 207, 219);
}

.barra{
    background-color: #f2000b;
    width: 100%;
    padding: 5px 50px;
    display: flex;
    justify-content:space-between;
}

.container-logos{
    width: 293.03px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 60px;
    height: 60px;
}

.container-ligths{
    width: 293.03px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.point-blue{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid white;
}
.name-pokedex{
    margin-left: 15px;
    width: 150px;
    height: 50px;
}

.ligth{
    width: 13px;
    height: 13px;
    margin: 2.5px;
}

.container-tools{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search{
    height: 28px;
    width: 130px;
    border-radius: 7px;
    margin-right: 15px;
    text-align: center;
    border-color: transparent;
}

.search-selector{
    height: 28px;
    width: 100%;
    border-radius: 5px;
    border-color: transparent;
    /* color: whitesmokess */
    text-align: center;

}

.container-cards{
    margin: 30px 50px 30px 40px;
    display: grid;
    row-gap: 30px;
    column-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 220px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card:hover{
    border: solid black;
    border-radius: 10px; 
    filter: opacity(0.9);
    transform: scale(1.04);
}

h4.type{
    color: whitesmoke;
    padding: 5px;
    border-radius: 8px;
}

.steel{
    background-color: #b8b8d0;
} 
.water{
    background-color: #6890f0;
}
.bug{
    background-color: #a8b820;
}
.dragon{
    background-color: #7038f8;
}
.electric{
    background-color: #f8d030;
}
.ghost{
    background-color: #705898;
}
.fire{
    background-color: #f08030;
}
.fairy{
    background-color: #f0b6bc;
}
.ice{
    background-color: #98d8d8;
}
.fighting{
    background-color: #c03028;
}
.normal{
    background-color: #a8a878;
}
.grass{
    background-color: #78c850;
}
.psychic{
    background-color: #f85888;
}
.rock{
    background-color: #b8a038;
}
.dark{
    background-color: #705848;
}
.ground{
    background-color: #e0c068;
}
.poison{
    background-color: #a040a0;
}
.flying{
    background-color: #a890f0;
}

.header-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    pointer-events: none;
}

.container-img{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    pointer-events: none;
}

.img-poke{
    width: 185px;
    height: 185px;
}

.container-type{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    pointer-events: none;
}
.footer-card{
    height: auto;
    width: 220px;
    pointer-events: none;
}

.footer-card-row-1, .footer-card-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

p, h4{
    text-align: center;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.none{
    display: none;
}